:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text: #757575;
  --secondary-text: #212121;
  --accent-color: #2196f3;
  --secondary-text-white: #ffffff;
  --hover-color-btm: #188ce8;
  --primary-background-color: #ffffff;
  --secondory-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-speed: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text);
}

/* Utility */ /* Utility */ /* Utility */ /* Utility */ /* Utility */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.18;
  color: var(--secondary-text);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.menu__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 2px;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-speed), visibility var(--transition-speed), transform var(--transition-speed);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 30px);
  margin: auto;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .backdrop__modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.backdrop__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.backdrop__close:hover .backdrop__icon, .backdrop__close:focus .backdrop__icon {
  fill: var(--accent-color);
  transition: var(--transition-speed);
}

.backdrop__icon {
  fill: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-speed);
}
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text);
}

.form__lable {
  margin-bottom: 10px;
}

.form__text--link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .form__text--link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__icon {
  position: relative;
  display: block;
}

.form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  transition: fill var(--transition-speed);
}
.form__input:focus + .form__svg {
  fill: var(--accent-color);
}

.form__texterea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  transition: border-color var(--transition-speed);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
}
.form__texterea:focus {
  border-color: var(--accent-color);
}
.form__texterea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox:checked + .form__check::before {
  background-image: url(../images/sprite/check.svg);
  background-color: #2196f3;
  background-position: center;
  box-shadow: var(--transition-speed), background-image var(--transition-speed), background-color var(--transition-speed);
  border-color: var(--accent-color);
}

.form__checkbox:focus + .form__check::before {
  border-color: var(--accent-color);
  outline: none;
  transition: border-color var(--transition-speed);
}

.form__check {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.form__check::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text);
  content: "";
  cursor: pointer;
  margin-right: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  transition: box-shadow var(--transition-speed);
}
@media screen and (min-width: 1200px) {
  .form__check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__submit {
  display: inline-block;
  min-width: 200px;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-self: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
}
.form__submit:hover, .form__submit:focus {
  background-color: var(--hover-color-btm);
  color: var(--secondary-text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 1.15;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-background-color);
  max-height: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-speed);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mobile-menu-open {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.177;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 302px;
}

.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-socials {
  display: flex;
  align-items: center;
  justify-content: left;
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:not(:last-child):last-child {
  border: none;
}

.mobile-menu__close-icon:hover,
.mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu-open__icon:hover,
.mobile-menu-open__icon:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .section__about {
    display: none;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  transition: color var(--transition-speed);
}
.menu__link.menu__link--current {
  color: var(--accent-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.pege-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .logo {
    margin: 0;
  }
}
.logo__studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__studio {
  color: var(--secondary-text);
}

.logo,
.logo__studio {
  font-family: var(--secondary-font);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-480.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero@2x.jpg");
  }
}

.hero__titel {
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 30px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-white);
}
@media screen and (min-width: 1200px) {
  .hero__titel {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
  transition: background-color var(--transition-speed), color 250ms var(--transition-speed);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hover-color-btm);
  color: var(--secondary-text-white);
}

@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.description__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondory-background-color);
}

@media screen and (max-width: 767px) {
  .description__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .description__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .description__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.description__titel {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text);
}
@media screen and (max-width: 767px) {
  .description__titel {
    text-align: center;
  }
}

.description__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}

.about {
  display: flex;
  gap: 30px;
}

.about__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-white);
  background: rgba(47, 48, 58, 0.8);
}

.about__box {
  position: relative;
}

.about--none-padding {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__card {
    padding-bottom: 30px;
  }
}

.team--background {
  background: #f5f4fa;
}

.team__titel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: background-color var(--transition-speed);
}
.socials__link:hover, .socials__link:focus {
  background: var(--accent-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__svg {
  fill: var(--icon-color);
  transition: fill var(--transition-speed);
}
.socials__link:hover .socials__svg, .socials__link:focus .socials__svg {
  fill: var(--primary-background-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition: border var(--transition-speed);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__logo {
  fill: var(--icon-color);
  transition: fill var(--transition-speed);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
  transition: color var(--transition-speed);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .footer__row {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__row {
    justify-content: space-between;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

.footer__titel {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondory-background-color);
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .footer__size {
    margin-bottom: 60px;
  }
}

.footer__logo--studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo,
.footer__logo--studio {
  font-family: var(--secondary-font);
}

.footer__logo {
  margin-right: 0;
  padding: 0;
  color: var(--accent-color);
}

.footer__logo--studio {
  color: var(--secondary-text-white);
}

.footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: var(--transition-speed);
  color: rgba(255, 255, 255, 0.6);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--accent-color);
}

.footer__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: var(--transition-speed);
  color: var(--secondary-text-white);
}
.footer__map:hover, .footer__map:focus {
  color: var(--accent-color);
}

.footer__link {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondory-background-color);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subscribe__email {
  display: block;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-text-white);
  transition: var(--transition-speed);
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.footer__mailing {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-white);
}

.subscribe__icon {
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .subscribe__icon {
    margin-left: 10px;
  }
}

.subscribe__btn {
  display: flex;
  padding: 10px 28px;
  align-self: center;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: transparent;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--hover-color-btm);
  color: var(--secondary-text-white);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.button {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .button {
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .button {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 50px;
  }
}

.button__filter {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
}
.button__filter:hover, .button__filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
}

.content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-speed);
}
.gallery__link:hover, .gallery__link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__link:hover .gallery__overlay, .gallery__link:focus .gallery__overlay {
  transform: translate(0);
  opacity: 1;
}

.gallery__wrapper {
  position: relative;
  overflow: hidden;
}

.gallery__card {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.gallery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}

.gallery__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-white);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--transition-speed);
}
@media screen and (max-width: 767px) {
  .gallery__overlay {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__overlay {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__overlay {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */