.header__container {
  @media screen and (min-width: 480px) {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .section__about {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  transition: color var(--transition-speed);
  &.menu__link--current {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}
