.pege-nav {
  display: flex;
  align-items: center;
}

.logo {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__studio {
  color: var(--secondary-text);
}

.logo,
.logo__studio {
  font-family: var(--secondary-font);
}
