:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text: #757575;
  --secondary-text: #212121;
  --accent-color: #2196f3;
  --secondary-text-white: #ffffff;
  --hover-color-btm: #188ce8;
  --primary-background-color: #ffffff;
  --secondory-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-speed: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
